.container{
    display: flex;
    height: auto;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0px 5px 7px -7px;
    background-color: white;
}
.search input{
    width: 200px;
    height: 30px;
    margin: 10px;
    border-radius: 5px;
    border: 1px solid gray;
    text-indent: 5px;
    font-size: medium;
    outline-width: 3px;
    outline-color: #197bf6;
}
.search button{
    width: 80px;
    height: 33px;
    margin: 5px;
    border:1px solid #57b25b;
    border-radius: 5px;
    background-color: #4ca746;
    color:white;
    font-size: medium;
    outline-color: #57b25b;
    outline-offset: -2px;
    outline-width: 3px;
    cursor: pointer;
}