.container{
    height: auto;
    padding: 10px;
    width: 20%;
}
.lists{
    border-bottom: 1px solid #e8e8e8;
    border-top: 1px solid #e8e8e8;
}
.lists ul button{
    width: 100%;
    font-size: medium;
    border: 0px ;
    outline: none;
    background-color: transparent;
    text-align: left;
    padding: 7px;
    color: #919495;
}
.lists ul button:hover{
    background-color: #eeeeee;
    color: black;
}