.container{
    width: 20%;
    height: max-content;
    background-color: #f7f7f7;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    margin-top: 30px;
}
.container:hover{
    box-shadow: 0px 4px 9px 0px rgba(0, 0, 0, 0.3);
}
.titleText{
    padding:0px 20px;
}
.lists{
    background-color: white;
    padding: 20px;
    border-top: 1px solid #e8e8e8;
}
.lists button{
    font-size: medium;
    background:none;
    padding: 10px;
    border: 1px solid #197bf6;
    border-radius: 5px;
    outline-offset: -2px;
    color: #197bf6;
    outline-color: #197bf6;
    cursor: pointer;
    margin-right: 5px;
}
.lists button:hover{
    background-color: #197bf6;
    color: white;
}