.container{
    display: flex;
    height: auto;
    background-color: white;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    align-items: stretch;
    padding: 20px;
    margin: 20px;
    justify-content: space-around;
}
.container:hover{
    box-shadow: 0px 4px 9px 0px rgba(0, 0, 0, 0.3);
}
.imageContainer{
    padding:0px 10px;
}
.imageBox{
    width:130px;
    height: 80px;
    padding: 3px;
    border: 1px solid #eeeeee;
}
.imageContainer img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.titleAndDescription{
    display: flex;
    padding: 5px;
    width: 70%;
    flex-direction: column;
    position: relative;
}
.source button{
    color: #197bf6;
    outline: none;
    border: none;
    background: none;
    padding: 0;
}
.source button:hover{
    color: #005ed1;
    cursor: pointer;
}
.titleText{
    font-size: medium;
    font-weight: bold;
    margin-bottom: 15px;
}
.titleText:hover{
    text-decoration: underline;
    color: #197bf6;
}
.source{
    color: #939aa1;
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: small;
    font-weight: 700;
}
.buttonAnimation{
    transform: rotate(180deg);
}
.expand{
    display: block;
}
.collapse{
    display: none;
}
.description{
    width: 100%;
    font-weight: 700;
}
.descriptionText{
    color: #939aa1;
    font-weight: normal;
}
.knowMore{
    color:#197bf6;
    cursor: pointer;
}
.knowMore:hover{
    text-decoration: underline;
    color: #005ed1;
}
.source div i{
    color: #197bf6;
}
.source div i:hover{
    color: #005ed1;
    cursor:pointer
}